{{> head}}
{{> navbar}} 
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ vars.title }}</h1>
        <p class="lead">{{ vars.desc }} </p>
        <p>{{ vars.amp }} </p>
    </div>
</div>

{{> footer}}